h1{background-color:rgb(193, 119, 29) ;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;

}

section{
    background-color: palevioletred
}
section p{
    text-align: center;
}
section h1{
    text-align: center;
    font-size: medium;
    pa
}
